@import 'variables';

:host {
  min-width: 500px;
  max-width: 630px;
  margin-left: 40px;
}

.select-language {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.column {
  flex: 0 0 48%;

  &-header {
    margin-bottom: 10px;
    color: $text-base-75;
  }
}
