

.modal-title {
  color: var(--main-color-6);
}

:root {
  // Colors
  --color-main-14: #ffffff; // white?
  --color-accent: #fab55b;
  --color-semantic-info: #3782f2;

  --main-color-2: #e9f1fb;
  --main-color-3: #d0e4f8;
  --main-color-4: #cdddf0;
  --main-color-5: #bfd2ea;
  --main-color-6: #94adcc;
  --main-color-7: #6487ad;
  --main-color-2: #e9f1fb;
  --main-color-3: #d0e4f8;
  --main-color-4: #cdddf0;
  --main-color-5: #bfd2ea;
  --main-color-6: #94adcc;
  --main-color-7: #6487ad;
  --tag-color: var(--main-color-7);
}
